<footer id="footer" class="footer_main">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer_logo">
                    <img src="assets/home/logo.png" alt="#">
                </div>
                <p class="footer_desc">Hedge fund platform
                    transparent, secret and trusted.
                    The future of digital assets.</p>
                <ul class="social_icons">
                    <li class="social-icon fb"><a href="http://psdconverthtml.com/live/crypto/home_dark.html#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="social-icon tw"><a href="http://psdconverthtml.com/live/crypto/home_dark.html#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="social-icon gp"><a href="http://psdconverthtml.com/live/crypto/home_dark.html#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="main-heading left_text">
                    <h2>Company</h2>
                </div>
                <ul class="footer-menu" style="width:50%;">
                    <li><a href="/about"><i class="fa fa-angle-right"></i> About</a></li>
                    <li><a href="/service"><i class="fa fa-angle-right"></i> Service</a></li>
                    <li><a href="/team"><i class="fa fa-angle-right"></i> Manager Team</a></li>
                    <li><a href="/help"><i class="fa fa-angle-right"></i> Help Center</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="main-heading left_text">
                    <h2>Products</h2>
                </div>
                <ul class="footer-menu" style="width:50%;">
                    <li><a href="/platform"><i class="fa fa-angle-right"></i> DigiGo</a></li>
                    <li><a href="/digibot"><i class="fa fa-angle-right"></i> DigiBot</a></li>
                    <li><a href="/exchange"><i class="fa fa-angle-right"></i> Exchange</a></li>
                    <li><a href="/stock"><i class="fa fa-angle-right"></i> Stock</a></li>
                </ul>            
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="main-heading left_text">
                    <h2>Investment Fund</h2>
                </div>
                <ul class="footer-menu" style="width:50%;">
                    <li><a href="/term"><i class="fa fa-angle-right"></i> Terms</a></li>
                    <li><a href="/invest"><i class="fa fa-angle-right"></i> Invest</a></li>
                    <li><a href="/partner"><i class="fa fa-angle-right"></i> Partner</a></li>
                </ul>            
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 pull-left">
                <p class="text-center">Made by DIGIGO. 2020 All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- search form -->
<!-- Modal -->
<div class="modal fade" id="search_form" role="dialog">
    <button type="button" class="cross_btn close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
    <div class="search_bar_inner">
        <form class="search_bar_inner_form" action="http://psdconverthtml.com/live/crypto/index.html">
            <div class="field_form">
                <input type="text" placeholder="Search">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</div>
<!-- end search form -->
<!-- jQuery (necessary for Bootstrap's JavaScript) -->
<script src="assets/jquery.min.js"></script>
<!-- custom js -->
<script src="assets/custom.js"></script>


</body>
</html>