<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- Site Metas -->
    <title><%= title %></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="icon" href="http://psdconverthtml.com/live/crypto/images/fevicon/fevicon.gif" type="image/gif">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <!-- Site CSS -->
    <!-- light css <link rel="stylesheet" href="css/style.css" /> -->
    <link rel="stylesheet" href="assets/dark_style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/responsive.css">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="assets/colors.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/custom.css">
    <!-- Counter CSS -->
    <link rel="stylesheet" href="assets/jquery.countdown.css">
    <!-- Wow Animation CSS -->
    <link rel="stylesheet" href="assets/animate.css">
    <!-- Market value slider CSS -->
    <link rel="stylesheet" type="text/css" href="assets/carouselTicker.css" media="screen">
    <link href="assets/animate.min.css" rel="stylesheet" media="all">
</head>

<body id="default_theme" class="dark_home_page">
    <!-- loader -->
    <div class="bg_load" style="display: none;">
        <img class="loader_animation" src="assets/Loader_img.png" alt="#">
    </div>
    <!-- end loader -->
    <!-- header -->
    <header id="default_header" class="header_style_1">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="full">
                            <ul class="pull-left header_top_menu cutomer_ser">
                                <li><a href="http://psdconverthtml.com/live/crypto/home_dark.html#"><i class="fa fa-life-ring" aria-hidden="true"></i> Customer Support</a></li>
                                <li><a href="http://psdconverthtml.com/live/crypto/home_dark.html#"><i class="fa fa-pie-chart"></i> Trading Fees: 0.05% Taker / -0.54% Market</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="full">
                            <ul class="pull-right header_top_menu user_login">
                                <li><a href="http://psdconverthtml.com/live/crypto/home_dark.html#"><i class="fa fa-sign-in"></i> Login</a></li>
                                <li><a href="http://psdconverthtml.com/live/crypto/home_dark.html#"><i class="fa fa-lock"></i> Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="full">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <!-- logo -->
                        <div class="logo">
                            <a href="http://psdconverthtml.com/live/crypto/index.html"><img class="img-responsive" src="assets/logo_2.png" alt="logo"></a>
                        </div>
                        <!-- end logo -->
                    </div>
                    <div class="col-md-7 col-sm-9 col-xs-12">
                        <!-- menu -->
                        <div class="main_menu">
                            <div id="cssmenu" class="dark_menu">
                                <div id="menu-button">Menu</div>
                                <ul>
                                    <li class="has-sub"><span class="submenu-button"></span>
                                        <a href="http://psdconverthtml.com/live/crypto/index.html">Home</a>
                                        <ul>
                                            <li><a href="http://psdconverthtml.com/live/crypto/index.html">Home Page light</a></li>
                                            <li><a href="http://psdconverthtml.com/live/crypto/home_dark.html">Home Page Dark</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub"><span class="submenu-button"></span>
                                        <a href="http://psdconverthtml.com/live/crypto/home_dark.html#">Pages</a>
                                        <ul>
                                            <li><a href="http://psdconverthtml.com/live/crypto/about.html">About Us</a></li>
                                            <li><a href="http://psdconverthtml.com/live/crypto/services.html">Our Services</a></li>
                                            <li class="has-sub"><span class="submenu-button"></span>
                                                <a href="http://psdconverthtml.com/live/crypto/team.html">Team</a>
                                                <ul>
                                                    <li><a href="http://psdconverthtml.com/live/crypto/team_member_detail.html">Team Member</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="http://psdconverthtml.com/live/crypto/price_page.html">Pricing</a></li>
                                            <li><a href="http://psdconverthtml.com/live/crypto/404error.html">404 Error</a></li>
                                            <li><a href="http://psdconverthtml.com/live/crypto/testimonials.html">Testimonials</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub"><span class="submenu-button"></span><a href="http://psdconverthtml.com/live/crypto/home_dark.html#">Coin Features Pages</a>
                                        <ul>
                                            <li><a href="http://psdconverthtml.com/live/crypto/coin.html">Coin</a></li>
                                            <li><a href="http://psdconverthtml.com/live/crypto/buy_sell.html">Buy &amp; Sell</a></li>
                                            <li><a href="http://psdconverthtml.com/live/crypto/exchange.html">Exchange</a></li>
                                            <li><a href="http://psdconverthtml.com/live/crypto/market_data.html">Market Data</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub"><span class="submenu-button"></span>
                                        <a href="http://psdconverthtml.com/live/crypto/shop.html">Shop</a>
                                        <ul>
                                            <li><a href="http://psdconverthtml.com/live/crypto/shop.html">Shop Page Style 1</a></li>
                                            <li><a href="http://psdconverthtml.com/live/crypto/shop_2.html">Shop Page Style 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub"><span class="submenu-button"></span>
                                        <a href="http://psdconverthtml.com/live/crypto/blog.html">Blog</a>
                                        <ul>
                                            <li><a href="http://psdconverthtml.com/live/crypto/blog.html">Blog Page Style 1</a></li>
                                            <li><a href="http://psdconverthtml.com/live/crypto/blog_2.html">Blog Page Style 2</a></li>
                                            <li><a href="http://psdconverthtml.com/live/crypto/blog_detail.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://psdconverthtml.com/live/crypto/contacts.html">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end menu -->
                    </div>
                    <div class="col-md-3 hidden-sm col-xs-12">
                        <!-- right header section -->
                        <ul class="social-links">
                            <li><a href="http://psdconverthtml.com/live/crypto/home_dark.html#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/home_dark.html#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/home_dark.html#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/home_dark.html#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/home_dark.html#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                        <div class="search_bar">
                            <button type="button" class="search_btn" data-toggle="modal" data-target="#search_form"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                        <!-- end right header section -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->