<%- include("./layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>About Us</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Company</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section -->
<div class="padding_0 info_coins">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="coin_formation">
                        <ul>
                            <li>
                                <span class="curr_name">Bitcoin Price</span>
                                <span class="curr_price">2395.00 USD</span>
                            </li>
                            <li>
                                <span class="curr_name">Bitcoin Price</span>
                                <span class="curr_price">2321.68 EUR</span>
                            </li>
                            <li>
                                <span class="curr_name">24H Volume</span>
                                <span class="curr_price">1,957.25 BTC</span>
                            </li>
                            <li>
                                <span class="curr_name">Active Traders</span>
                                <span class="curr_price">1,169,857 EUR</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->


<!-- section -->
<section class="layout_padding">
    <div class="container">
        <div class="row">          
            <div class="col-md-6 col-sm-7 col-xs-12 pull-right">
                <div class="full">
                    <h3 class="special">Company name at the present time:<br>
                        DIGIGO DIGITAL HEDGE FUND </h3>
                    <h3 class="special">Scope of operation:<br>
                        GOLD, CRYPTOCURRENCY</h3>
                    <h3 class="special">Mode of operation:<br> 
                        DigiBot
                        development in cryptocurrency
                        trading and gold trading</h3>
                </div>
            </div>
            <div class="col-md-6 col-sm-5 col-xs-12 pull-left img_bit1">
                <div class="full center_text">
                    <img class="img-responsive" src="assets/company/asset_17.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- section -->
<section class="layout_padding about_bg_compu"  style="background-image: url(./assets/company/asset_178.png)">
    <div class="container">
        <div class="row">
            <div class="inner_page_info" style="margin-top:0px;">
                <h3>Our Plans</h3>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<%- include("./layouts/footer");-%>