<%- include("./layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>About Us</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Home</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section -->
<div class="padding_0 info_coins">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="coin_formation">
                        <ul>
                            <li>
                                <span class="curr_name">Bitcoin Price</span>
                                <span class="curr_price">2395.00 USD</span>
                            </li>
                            <li>
                                <span class="curr_name">Bitcoin Price</span>
                                <span class="curr_price">2321.68 EUR</span>
                            </li>
                            <li>
                                <span class="curr_name">24H Volume</span>
                                <span class="curr_price">1,957.25 BTC</span>
                            </li>
                            <li>
                                <span class="curr_name">Active Traders</span>
                                <span class="curr_price">1,169,857 EUR</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->


<!-- section -->
<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="full our_work_type">
                    <div class="center"><img src="assets/icon_1.png" alt="#"></div>
                    <div class="center">
                        <h4>Licensed in Luxembourg</h4>
                    </div>
                    <div class="center">
                        <p>Taking the time to manage your money really pay off.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="full our_work_type">
                    <div class="center"><img src="assets/icon_2.png" alt="#"></div>
                    <div class="center">
                        <h4>No Hidden Fees</h4>
                    </div>
                    <div class="center">
                        <p>Taking the time to manage your money really pay off.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="full our_work_type">
                    <div class="center"><img src="assets/icon_3.png" alt="#"></div>
                    <div class="center">
                        <h4>Instant Trading</h4>
                    </div>
                    <div class="center">
                        <p>Taking the time to manage your money really pay off.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="full our_work_type">
                    <div class="center"><img src="assets/icon_4.png" alt="#"></div>
                    <div class="center">
                        <h4>Secure and Transparent</h4>
                    </div>
                    <div class="center">
                        <p>Taking the time to manage your money really pay off.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 pull-right img_bit1">
                <div class="full center_text">
                    <img class="img-responsive" src="assets/coin_png.png" alt="#">
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 pull-left">
                <div class="full">
                    <h3>Buy, sell and Exchange store crypto coin with confidence</h3>
                    <div class="graph_img">
                        <img class="img-responsive" src="assets/graph.jpg" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- section -->
<section class="layout_padding about_bg_compu">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="full">
                    <h2 class="heading_style2">Looking for a First-Class Cryptocurrency Expert?</h2>
                    <p class="left_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.</p>
                    <p class="left_text">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p class="left_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    <a class="btn main_btn" href="http://psdconverthtml.com/live/crypto/about.html#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- section -->
<section class="layout_padding dark_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>Our Pricing Plan</span></h2>
                        <p>Exchange Transactions of your referred users Bitcoin</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="full">
                    <div class="coin_selling_bt">
                        <ul>
                            <li><a class="active" href="http://psdconverthtml.com/live/crypto/about.html#">Buy Bitcoin</a></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Sell Bitcoin</a></li>
                        </ul>
                        <div class="coin_price_table">
                            <h3>GET 0.0512 BTC</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <p class="price_table">$ 100.00</p>
                            <div class="center">
                                <a class="pay_btn" href="http://psdconverthtml.com/live/crypto/about.html#">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="full focus_sell">
                    <div class="coin_selling_bt">
                        <ul>
                            <li><a class="active" href="http://psdconverthtml.com/live/crypto/about.html#">Btc</a></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Eth</a></li>
                        </ul>
                        <div class="coin_price_table">
                            <h3>GET 0.0512 BTC</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <p class="price_table">$ 100.00</p>
                            <div class="center">
                                <a class="pay_btn" href="http://psdconverthtml.com/live/crypto/about.html#">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="full">
                    <div class="coin_selling_bt">
                        <ul>
                            <li><a class="active" href="http://psdconverthtml.com/live/crypto/about.html#">Usd</a></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Eur</a></li>
                        </ul>
                        <div class="coin_price_table">
                            <h3>GET 0.0512 BTC</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <p class="price_table">$ 100.00</p>
                            <div class="center">
                                <a class="pay_btn" href="http://psdconverthtml.com/live/crypto/about.html#">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="full">
                    <div class="coin_selling_bt">
                        <ul>
                            <li><a class="active" href="http://psdconverthtml.com/live/crypto/about.html#">Gbp</a></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Rup</a></li>
                        </ul>
                        <div class="coin_price_table">
                            <h3>GET 0.0512 BTC</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <p class="price_table">$ 100.00</p>
                            <div class="center">
                                <a class="pay_btn" href="http://psdconverthtml.com/live/crypto/about.html#">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- section -->
<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>Our Brands</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <ul class="brand-list">
                        <li><img src="assets/brand1.png" alt="#"></li>
                        <li><img src="assets/brand2.png" alt="#"></li>
                        <li><img src="assets/brand3.png" alt="#"></li>
                        <li><img src="assets/brand4.png" alt="#"></li>
                        <li><img src="assets/brand5.png" alt="#"></li>
                        <li><img src="assets/brand6.png" alt="#"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("./layouts/footer");-%>