<%- include("./layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>Post Blog</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/contacts.html#">Home</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/contacts.html#">Post Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section -->
<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>GET IN TOUCH</span></h2>
                        <p>We Provide High Quality Services</p>
                    </div>
                </div>
            </div>
            <div class="contact_information">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 adress_cont">
                    <div class="information_bottom text_align_center">
                        <div class="icon_bottom">
                            <i class="fa fa-road" aria-hidden="true"></i>
                        </div>
                        <div class="info_cont">
                            <h4>427 Schoen Circles Suite 124</h4>
                            <p>Melbourne Australia</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 adress_cont">
                    <div class="information_bottom text_align_center">
                        <div class="icon_bottom">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="info_cont">
                            <h4>0011 234 56789</h4>
                            <p>Mon-Fri 8:30am-6:30pm</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 adress_cont">
                    <div class="information_bottom text_align_center">
                        <div class="icon_bottom">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="info_cont">
                            <h4>Demo@gmail.com</h4>
                            <p>24/7 online support</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact_form">
                <div class="form_section">
                    <form class="form_contant" action="/posts" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input name="title" class="field_custom" placeholder="Post Title" type="text">
                            </div>
                            <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input name="sub" class="field_custom" placeholder="Post Subcribe" type="text">
                            </div>
                            <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea type="text" name="content1" class="field_custom" placeholder="Stage 1"></textarea>
                            </div>
                            <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea type="text" name="content2" class="field_custom" placeholder="Stage 2"></textarea>
                            </div>
                            <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea type="text" name="content3" class="field_custom" placeholder="Stage 3"></textarea>
                            </div>
                            <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="file" name="avatar" class="field_custom" placeholder="Choose Image">
                            </div>
                            <div class="center">
                                <input class="btn main_btn" type="submit" value="Submit">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<%- include("./layouts/footer");-%>