<%- include("./layouts/header");-%>
   <!-- section -->
    <section id="inner_page_infor" class="innerpage_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="inner_page_info">
                            <h3>Our Services</h3>
                            <ul>
                                <li><a href="http://psdconverthtml.com/live/crypto/services.html#">Home</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li><a href="http://psdconverthtml.com/live/crypto/services.html#">Our Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- section -->

    <section class="layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="heading_main">
                            <h2><span>Our Amazing Service</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row service_main">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full service_section">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="center">
                                <img src="assets/s01.png" alt="#">
                            </div>
                            <div class="center">
                                <h3>Margin Tranding</h3>
                            </div>
                            <div class="center">
                                <p>Lorem Ipsum has been the industry's standard when an unknown printer took.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" style="background: #f6f6f6;">
                            <div class="center">
                                <img src="assets/s02.png" alt="#">
                            </div>
                            <div class="center">
                                <h3>Strong Security</h3>
                            </div>
                            <div class="center">
                                <p>Lorem Ipsum has been the industry's standard when an unknown printer took.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="center">
                                <img src="assets/s03.png" alt="#">
                            </div>
                            <div class="center">
                                <h3>Instant Exchange</h3>
                            </div>
                            <div class="center">
                                <p>Lorem Ipsum has been the industry's standard when an unknown printer took.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" style="background: #f6f6f6;">
                            <div class="center">
                                <img src="assets/s04.png" alt="#">
                            </div>
                            <div class="center">
                                <h3>Mobile App</h3>
                            </div>
                            <div class="center">
                                <p>Lorem Ipsum has been the industry's standard when an unknown printer took.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="center">
                                <img src="assets/s05.png" alt="#">
                            </div>
                            <div class="center">
                                <h3>27/7 Trading</h3>
                            </div>
                            <div class="center">
                                <p>Lorem Ipsum has been the industry's standard when an unknown printer took.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" style="background: #f6f6f6;">
                            <div class="center">
                                <img src="assets/s06.png" alt="#">
                            </div>
                            <div class="center">
                                <h3>Free Consulting</h3>
                            </div>
                            <div class="center">
                                <p>Lorem Ipsum has been the industry's standard when an unknown printer took.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end section -->

    <!-- section -->

    <section class="layout_padding_2 dark_bg white_fonts">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="col-md-5 col-xs-12">
                            <div class="full">
                                <div class="banner_icon">
                                    <img class="img-responsive" src="assets/ser_icon_1.png" alt="#">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="full" style="margin-top:50px;">
                                <h2 class="heading_style2">Everything You Need</h2>
                                    <p class="left_text">Sed ut perspiciatis unde omnis iste natus error sit voluptatemaccusantium doloremque laudantium. Neque porro quisquam est, quidolorem ipsum quia dolor sit amet luptatem.</p>
                                    <p class="left_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book. </p>
                                    <div class="btn_banner"><a class="btn main_btn" href="http://psdconverthtml.com/live/crypto/services.html#">Read More</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end section -->

    <!-- section -->

    <section class="layout_padding_2" style="background: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="col-md-5 col-xs-12 pull-right">
                            <div class="full">
                                <div class="banner_icon">
                                    <img class="img-responsive" src="assets/ser_icon_2.png" alt="#">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="full" style="margin-top:30px;">
                                <h2 class="heading_style2">Everything You Need in Your Wallet</h2>
                                    <p class="left_text">Sed ut perspiciatis unde omnis iste natus error sit voluptatemaccusantium doloremque laudantium. Neque porro quisquam est, quidolorem ipsum quia dolor sit amet luptatem.</p>
                                    <p class="left_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book. </p>
                                    <div class=""><a class="btn main_btn" href="http://psdconverthtml.com/live/crypto/services.html#">Read More</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end section -->

    <!-- section -->
    <section class="layout_padding" style="background: #f6f6f6;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="heading_main">
                            <h2><span>Our Brands</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <ul class="brand-list">
                            <li><img src="assets/brand1.png" alt="#"></li>
                            <li><img src="assets/brand2.png" alt="#"></li>
                            <li><img src="assets/brand3.png" alt="#"></li>
                            <li><img src="assets/brand4.png" alt="#"></li>
                            <li><img src="assets/brand5.png" alt="#"></li>
                            <li><img src="assets/brand6.png" alt="#"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
<%- include("./layouts/footer");-%>