<%- include("./layouts/header");-%>
   <!-- section -->
    <section id="inner_page_infor" class="innerpage_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="inner_page_info">
                            <h3>Our Services</h3>
                            <ul>
                                <li><a href="http://psdconverthtml.com/live/crypto/services.html#">Company</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li><a href="http://psdconverthtml.com/live/crypto/services.html#">Our Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- section -->

    <section class="layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="heading_main">
                            <h2><span>Our Amazing Service</span></h2>
                            <p>Fiat economy will fluctuate strongly in 2020 due to many macro factors. We recognize
                                that Cryptocurrency is always a potential option in the future.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row service_main">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full service_section">
                        <div class="col-md-4 col-sm-12 col-xs-12"  style="background: #02135f ;">
                            <div class="center">
                                <img src="assets/company/asset_188.png" alt="#">
                            </div>
                            <div class="center">
                                <h3>DigiGo Fund</h3>
                            </div>
                            <div class="center">
                                <p style="font-size: 13px;">DigiGo Digital Hedge Fund
                                    builds on the trust of investors
                                    for DigiGo. Benefits of both
                                    parties help fund sustainable
                                    development in the future.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" style="background: #010e46;">
                            <div class="center">
                                <img src="assets/company/asset_198.png" height="82px" alt="#">
                            </div>
                            <div class="center">
                                <h3>DigiBot</h3>
                            </div>
                            <div class="center">
                                <p style="font-size: 13px;">As an important part of the
                                    company's profit-making
                                    process, DigiBot is moving
                                    towards quantum technology to
                                    maximize profit from the market.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12"  style="background: #02135f ;">
                            <div class="center">
                                <img src="assets/company/asset_208.png" height="82px" alt="#">
                            </div>
                            <div class="center">
                                <h3>Strong Security</h3>
                            </div>
                            <div class="center">
                                <p style="font-size: 13px;">We provide many solutions to
                                    ensure the security of investors'
                                    assets. Future volatility from
                                    partners like Binance, Coinbase is
                                    an important factor.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" style="background: #010e46 ;">
                            <div class="center">
                                <img src="assets/company/asset_218.png" alt="#">
                            </div>
                            <div class="center">
                                <h3>Notification System</h3>
                            </div>
                            <div class="center">
                                <p style="font-size: 13px;">You will feel easy to use when
                                    joining DigiGo platform. We
                                    integrate user-friendly notification
                                    system, high reliability and better
                                    processing speed.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12"  style="background: #02135f ;">
                            <div class="center">
                                <img src="assets/company/asset_228.png" alt="#">
                            </div>
                            <div class="center">
                                <h3>Knowledge</h3>
                            </div>
                            <div class="center">
                                <p style="font-size: 13px;">Securities carry many risks when their
                                    knowledge. The knowledge provided by
                                    DigiGo will improve your awareness
                                    when participating in the market.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" style="background: #010e46 ;">
                            <div class="center">
                                <img src="assets/company/asset_238.png" alt="#">
                            </div>
                            <div class="center">
                                <h3>Market News</h3>
                            </div>
                            <div class="center">
                                <p style="font-size: 13px;">We always update the latest
                                    information from partners such as
                                    Coindesk, Cointelegraph. That will
                                    be automated on future
                                    notification.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end section -->

    <!-- section -->

    <section class="layout_padding_2 dark_bg white_fonts">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="col-md-5 col-xs-12">
                            <div class="full">
                                <div class="banner_icon">
                                    <img class="img-responsive" src="assets/company/asset_148.png" alt="#">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="full">
                                <h2 class="heading_style2" style="margin-top: 70px!important">DIGIGO FUND</h2>
                                    <p class="left_text">We know it is not easy to choose a portfolio in a
                                        potential market. A good portfolio can come with
                                        an unexpected risk. DigiBot is completely open to
                                        the public, and the profits we generate from the
                                        market are completely grounded in transaction
                                        histories. And stability from transactions is the
                                        goal of DigiBot. Consider your choice in the
                                        market.</p>
                                    <div class="btn_banner"><a class="btn main_btn" href="/invest">Invest</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end section -->

    <!-- section -->

    <section class="layout_padding_2" style="background: #1b334d;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="col-md-5 col-xs-12 pull-right">
                            <div class="full">
                                <div class="banner_icon">
                                    <img class="img-responsive" src="assets/company/asset_268.png" alt="#">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="full">
                                <h2 class="heading_style2 color_black" style="margin-top:70px!important;">Notification System</h2>
                                    <p class="left_text color_black">Messenger, Telegram are popular messaging
                                        applications for everyone, they are extremely
                                        friendly and easy to use. Therefore, we have
                                        integrated these two platforms for all DigiGo
                                        notification activities. The breakthrough can come
                                        from simple, easy to use and user-friendly utilities.</p>
                                    <div class=""><a class="btn main_btn" href="/setting">Setting</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end section -->

<%- include("./layouts/footer");-%>