<%- include("./layouts/header");-%> 
   <!-- section -->
    <section id="inner_page_infor" class="innerpage_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="inner_page_info">
                            <h3>Our Team</h3>
                            <ul>
                                <li><a href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Home</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li><a href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Our Team</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->


    <!-- section -->
    <section class="layout_padding team_section">
        <div class="container">

            <div class="row" style="margin-top:25px;">
                <div class="col-md-4 col-xs-12">
                    <div class="full">
                        <div class="team_part">
                            <div class="team_img">
                                <img class="img-responsive" src="assets/team_member1.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="full">
                        <div class="team_part-detail">
                            <div class="team_cont">
                                <h4 class="member_name">Martin Martines</h4>
                                <p class="member_info">Assistant Manager</p>
                                <div class="member_follow_detail">
                                    <div class="social_icon">
                                        <ul>
                                            <li><a href="http://psdconverthtml.com/live/crypto/team_member_detail.html#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="http://psdconverthtml.com/live/crypto/team_member_detail.html#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="http://psdconverthtml.com/live/crypto/team_member_detail.html#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="http://psdconverthtml.com/live/crypto/team_member_detail.html#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p class="left_text">Sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate.</p>
                            <p class="left_text">velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                            <div class="full testimonial_simple_say">
                                <div class="qoute_testimonial"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                                <p class="margin_bottom_0"><i>Adipisicing elit lorem ipsum dolor sit amet, consectetur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</i></p>
                                <p class="large_2 theme_color">John Barber</p>
                            </div>
                        </div>
                        <div class="skill_bar">

                            <h3 class="progress-title">Skill One</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width:70%; background:#e9d16f;">
                                    <div class="progress-value">70%</div>
                                </div>
                            </div>

                            <h3 class="progress-title">Skill Two</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width:85%; background:#e9d16f;">
                                    <div class="progress-value">85%</div>
                                </div>
                            </div>

                            <h3 class="progress-title">Skill Three</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width:80%; background:#e9d16f;">
                                    <div class="progress-value">80%</div>
                                </div>
                            </div>

                            <h3 class="progress-title">Skill Four</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width:90%; background:#e9d16f;">
                                    <div class="progress-value">90%</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>
    <!-- end section -->

    <!-- section -->
    <section class="layout_padding dark_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="heading_main">
                            <h2><span>Our Pricing Plan</span></h2>
                            <p>Exchange Transactions of your referred users Bitcoin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul>
                                <li><a class="active" href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Buy Bitcoin</a></li>
                                <li><a href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Sell Bitcoin</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>GET 0.0512 BTC</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                                <p class="price_table">$ 100.00</p>
                                <div class="center">
                                    <a class="pay_btn" href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full focus_sell">
                        <div class="coin_selling_bt">
                            <ul>
                                <li><a class="active" href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Btc</a></li>
                                <li><a href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Eth</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>GET 0.0512 BTC</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                                <p class="price_table">$ 100.00</p>
                                <div class="center">
                                    <a class="pay_btn" href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul>
                                <li><a class="active" href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Usd</a></li>
                                <li><a href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Eur</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>GET 0.0512 BTC</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                                <p class="price_table">$ 100.00</p>
                                <div class="center">
                                    <a class="pay_btn" href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul>
                                <li><a class="active" href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Gbp</a></li>
                                <li><a href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Rup</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>GET 0.0512 BTC</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                                <p class="price_table">$ 100.00</p>
                                <div class="center">
                                    <a class="pay_btn" href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- section -->
    <section class="layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="heading_main">
                            <h2><span>Our Brands</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <ul class="brand-list">
                            <li><img src="assets/brand1.png" alt="#"></li>
                            <li><img src="assets/brand2.png" alt="#"></li>
                            <li><img src="assets/brand3.png" alt="#"></li>
                            <li><img src="assets/brand4.png" alt="#"></li>
                            <li><img src="assets/brand5.png" alt="#"></li>
                            <li><img src="assets/brand6.png" alt="#"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
<%- include("./layouts/footer");-%>