<%- include("./../layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>Digibot</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Product</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Digibot</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- section -->
<section class="layout_padding light_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h3><span>Increase assets from the cryptocurrency market with DigiBot</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full" style="margin-top: 25px;">
                    <iframe style="position: static; visibility: visible; display: block; width: 500px; height: 457px; padding: 0px; border: none; max-width: 100%; min-width: 100%; min-height: 300px; margin-top: 10px; margin-bottom: 10px;" src="https://tulpo.dev"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- section -->
<section class="layout_padding" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h3><span style="color: rgb(15, 2, 59)">DigiBot is researched and created to trade
                            cryptocurrencies automatically while you are sleeping</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596)">
                    <div class="left"><img src="assets/product/asset_239.png" alt="#"></div>
                    <div class="left">
                        <h4>Artificial intelligence</h4>
                    </div>
                    <div class="left">
                        <p class="left_text" style="color: black">DigiBot uses a huge source of
                            transaction data combined with
                            Machine learning.</p><br>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596)">
                    <div class="left"><img src="assets/product/asset_249.png" alt="#"></div>
                    <div class="left">
                        <h4>Stop Loss</h4>
                    </div>
                    <div class="left">
                        <p class="left_text" style="color: black">DigiBot will stop loss if it
                            finds the market unstable.</p><br>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596)">
                    <div class="left"><img src="assets/product/asset_259.png" alt="#"></div>
                    <div class="left">
                        <h4>Special algorithm</h4>
                    </div>
                    <div class="left">
                        <p class="left_text" style="color: black">Perception of the characteristics
                            of the market is the core to build
                            accurate transaction algorithms.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596)">
                    <div class="left"><img src="assets/product/asset_269.png" alt="#"></div>
                    <div class="left">
                        <h4>Public transaction</h4>
                    </div>
                    <div class="left">
                        <p class="left_text" style="color: black">Our financial statements
                            are always updated with
                            transaction history.</p><br>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596)">
                    <div class="left"><img src="assets/product/asset_279.png" alt="#"></div>
                    <div class="left">
                        <h4>Top 15 Cryptocurrency</h4>
                    </div>
                    <div class="left">
                        <p class="left_text" style="color: black">Choosing the top
                            cryptocurrencies helps DigiBot
                            create easy liquidity.</p><br>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596)">
                    <div class="left"><img src="assets/product/asset_289.png" alt="#"></div>
                    <div class="left">
                        <h4>Low risk</h4>
                    </div>
                    <div class="left">
                        <p class="left_text" style="color: black">DigiBot chooses a safer level
                            than a high profit in a trade.</p><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>Exchange partner</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="full center">
                    <img class="img-responsive" src="assets/product/asset_299.png" alt="#">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="full center">
                    <img class="img-responsive" src="assets/product/asset_309.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("./../layouts/footer");-%>