<%- include("./../layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>Exchange</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Product</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Exchange</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section -->

<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>Gold is always a trustable asset</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="col-md-6 col-xs-12">
                        <div class="full">
                            <div class="banner_icon">
                                <img class="img-responsive" src="assets/company/asset_148.png" alt="#">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="full" style="padding-top: 100px;">
                            <p class="left_text">Gold is considered to be an important asset worldwide.
                                In the process of forming life, gold is considered a rare
                                and valuable metal. Owning gold can be a good barrier
                                against inflation and is a good portfolio diversification
                                tool. In addition, gold can also provide financial
                                insurance in geopolitical unrest and macroeconomic
                                The benefits of gold storage:</p>
                            <p class="left_text">&nbsp;1. Anti-inflation</p>
                            <p class="left_text">&nbsp;2. Keep value</p>
                            <p class="left_text">&nbsp;3. Deflation Protection</p>
                            <p class="left_text">&nbsp;4. Increasing Demand</p>
                            <p class="left_text">&nbsp;5. Portfolio Diversification</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end section -->
<!-- section -->
<section class="layout_padding" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h3><span style="color: rgb(15, 2, 59)">DigiBot is researched and created to trade
                            cryptocurrencies automatically while you are sleeping</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596); min-height: 400px;">
                    <div class="left"><img src="assets/product/asset_319.png" alt="#">&nbsp;<span>Saving</span></div>
                    <hr>
                    <div class="left">
                        <p class="left_text" style="color: black">It is estimated that the world
                            will save 0.7 to 1.2 trillion US
                            dollars each year thanks to
                            Blockchain application to
                            significantly reduce
                            transaction costs,
                            management, personnel,
                            warehousing. For example: If
                            you want to sell an
                            apartment, it will take a lot of
                            time and cost for this
                            process, but when your
                            apartment is digitized, all
                            transactions are just one click
                            while ensuring transparency.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596); min-height: 400px;">
                    <div class="left"><img src="assets/product/asset_329.png" alt="#">&nbsp;<span>Easy trading</span></div>
                    <hr>
                    <div class="left">
                        <p class="left_text" style="color: black">Have you ever thought of
                            buying and selling assets only
                            by a few clicks like buying
                            and selling stocks on the
                            exchanges Nasdaq, NYSE, LSE
                            ? That's right, when your
                            assets are verified on
                            Blockchain and encrypted,
                            you can completely trade and
                            exchange assets through a
                            certain token. Gold, silver,
                            real estate ... or any asset.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596); min-height: 400px;">
                    <div class="left"><img src="assets/product/asset_339.png" alt="#">&nbsp;<span>Transparent and safe</span></div>
                    <hr>
                    <div class="left">
                        <p class="left_text" style="color: black">All transactions of investors
                            and traders are recorded on
                            Blockchain. SmartContract
                            will serve as a fair referee
                            giving terms and
                            automatically enforcing sales
                            agreements. This technology
                            allows two parties not to
                            confirm their tradable
                            identities without worrying
                            about cheating.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- section -->
<section class="layout_padding about_bg_compu white_fonts">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>DIGIGOLD EXCHANGE<br>(2013)</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="full">
                    <div class="cryto_feature">
                        <ul>
                            <li>
                                <div class="pull-left"><img src="assets/home/asset_73.png" alt="#"></div>
                                <div>
                                    <h3>Blockchain Platform</h3>
                                    <p>Using intelligent algorithms and big
                                    data in the history of exchanges
                                    since 2011</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left"><img src="assets/home/asset_83.png" alt="#"></div>
                                <div>
                                    <h3>digitize assets</h3>
                                    <p>Digital gold has been studied in
                                    several developed countries.
                                    Cryptocurrency is the only potential
                                    candidate</p>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left"><img src="assets/home/asset_93.png" alt="#"></div>
                                <div>
                                    <h3>Rust Programming</h3>
                                    <p>DigiBot buy and sell orders are
                                    installed in real time</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="full digital_earth">
                    <img src="assets/bg3_new.png" style="left: -120px;top: 150px;" alt="#">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="full">
                    <div class="cryto_feature right_text">
                        <ul>
                            <li>
                                <div>
                                    <h3>Stable Stock</h3>
                                    <p>algorithmic infrastructure of assets
                                    protection and a variety of public
                                    media operating in real time</p>
                                </div>
                                <div class="pull-right"><img src="assets/home/asset_103.png" alt="#"></div>
                            </li>
                            <li>
                                <div>
                                    <h3>Digital Media</h3>
                                    <p>We build a diverse robot system
                                        from Messenger, Telegram</p>
                                    </div>
                                <div class="pull-right"><img src="assets/home/asset_133.png" alt="#"></div>
                            </li>
                            <li>
                                <div>
                                    <h3>Decentralized Exchange</h3>
                                    <p>Please send requests to us. The
                                    support team will respond soonest
                                    and you will not have to wait</p>
                                    </div>
                                    <div class="pull-right"><img src="assets/home/asset_113.png" alt="#"></div>
                                </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<%- include("./../layouts/footer");-%>