<%- include("./../layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>Invest</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Fund</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Invest</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- section -->
    <section class="layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="heading_main">
                            <h2><span>Investment Fund</span></h2>
                            <p>Choose the investment package that suits your personal finances</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul>
                                <li><a class="active" href="#">1ST</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>$500 - $999</h3>
                                <p class="left_text">• 6%: maximum static profit
                                    (Airdrop)</p>
                                <p class="left_text">• %35 / 1 transaction of DigiBot</p>
                                <p class="left_text">• Accept: BTC, ETH, USD, USDT,
                                    BNB, VND, CNY, INR, PAX</p>
                                <div class="center">
                                    <a class="pay_btn" href="#">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul>
                                <li><a class="active" href="#">2ND</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>$1000 - $4999</h3>
                                <p class="left_text">• 6%: maximum static profit
                                    (Airdrop)</p>
                                <p class="left_text">• %40 / 1 transaction of DigiBot</p>
                                <p class="left_text">• Accept: BTC, ETH, USD, USDT,
                                    BNB, VND, CNY, INR, PAX</p>
                                <div class="center">
                                    <a class="pay_btn" href="#">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul>
                                <li><a class="active" href="#">3TH</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>$5000 - $9999</h3>
                                <p class="left_text">• 6%: maximum static profit
                                    (Airdrop)</p>
                                <p class="left_text">• %50 / 1 transaction of DigiBot</p>
                                <p class="left_text">• Accept: BTC, ETH, USD, USDT,
                                    BNB, VND, CNY, INR, PAX</p>
                                <div class="center">
                                    <a class="pay_btn" href="#">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul class="full">
                                <li class="full"><a class="active" href="#">4TH</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>$10000 - $49999</h3>
                                <p class="left_text">• 6%: maximum static profit
                                    (Airdrop)</p>
                                <p class="left_text">• %55 / 1 transaction of DigiBot</p>
                                <p class="left_text">• Accept: BTC, ETH, USD, USDT,
                                    BNB, VND, CNY, INR, PAX</p>
                                <div class="center">
                                    <a class="pay_btn" href="#">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul class="full">
                                <li class="full"><a class="active" href="#">5TH</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>$50000 - $99999</h3>
                                <p class="left_text">• 6%: maximum static profit
                                    (Airdrop)</p>
                                <p class="left_text">• %60 / 1 transaction of DigiBot</p>
                                <p class="left_text">• Accept: BTC, ETH, USD, USDT,
                                    BNB, VND, CNY, INR, PAX</p>
                                <div class="center">
                                    <a class="pay_btn" href="#">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul class="full">
                                <li class="full"><a class="active" href="#">6TH</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>> $100000</h3>
                                <p class="left_text">• 6%: maximum static profit
                                    (Airdrop)</p>
                                <p class="left_text">• %65 / 1 transaction of DigiBot</p>
                                <p class="left_text">• Accept: BTC, ETH, USD, USDT,
                                    BNB, VND, CNY, INR, PAX</p>
                                <div class="center">
                                    <a class="pay_btn" href="#">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

<%- include("./../layouts/footer");-%>