<%- include("./../layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>Terms And Condition</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Fund</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">term</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- section -->
<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>Terms and Conditions of Use</span></h2>
                        <p>You should review our <span><a style="color:blue" href="#" data-toggle="modal" data-target="#exampleModalLong">Privacy Policy</a></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <p class="left_text">These terms and conditions govern the use of this website provided by DigiGoFund and the Service (as hereinafter
                    defined) by the person who uses the Service, having signed up for and/or purchased the Service (the “User“), and
                    the company or other organization with or for whom the User works is affiliated or employed, and for which the
                    User’s use of the Service relates (the “Client Organization”) (hereinafter together termed the “Client“). The Service
                    refers to both paid and free versions or portions of the site. Use of this website constitutes the Client’s acceptance
                    of these Terms and Conditions and acceptance takes effect immediately on first use of the Service. Acceptance of
                    these Terms and Conditions constitutes full acceptance of all these Terms and Conditions, and agreement to be
                    bound thereby. DigiGoFund reserves the right to amend these Terms and Conditions at any time and the Clients
                    continued use of the service with consent to any updated Terms and Conditions.</p>
                <p class="left_text">DigiGoFund hereby agrees to furnish the Client with the best service and the Client hereby agrees to license and
                    utilize this online service from DigiGo Digital Hedge Fund only in accordance with these Terms and Conditions. The
                    Service consists of any and all information made available to the Client on DigiGo website, and that of member
                    websites.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Use of Service</h4>
                <p class="left_text">DigiGoFund grants the User a limited, non-exclusive, non-transferable license to access and utilize the website
                    solely for its own internal or personal purposes. The User agrees not to copy the data in whole or in part, for the
                    purpose of publishing the information, reselling the information or for retaining a local copy of the data to use as
                    an in-house data source or to further populate an existing in-house database, including but not limited to contact
                    and e-mail lists and performance and fund information. The use of any content available on Digigo.org must be in
                    accordance with the Terms and Conditions. Mass mailings are prohibited by a variety of local and international
                    laws and Client agrees to abide by any applicable laws..</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• No recommended</h4>
                <p class="left_text">The Service is for information purposes only and does not constitute and should not be construed as a solicitation
                    or offer, or recommendation to acquire or dispose of any investment or to engage in any other transaction, or
                    advice of any nature whatsoever. If the Client seeks advice rather than information it should seek an independent
                    advisor and hereby agrees that it will not hold DigiGoFund responsible in law or equity for any decisions of
                    whatsoever nature the Client makes or refrains from making following its use of the Service.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Independent</h4>
                <p class="left_text">While DigiGoFund uses reasonable efforts to obtain information from sources which it believes to be reliable,
                    DigiGoFund makes no representation or warranty that the information or opinions contained in the Website are
                    accurate, reliable, up-to-date or complete. The Client acknowledges that DigiGoFund has used a variety of public
                    and other sources to create the Service, and that if the Client believes that any of the information contained
                    therein is inaccurate or misrepresented, the Client will bring this to the notice of DigiGoFund, provide information
                    to assist DigiGoFund in correcting any such deficiencies or errors, and that the Client will take no further action in
                    law or equity with respect to such inaccurate or misrepresented information or the Client’s belief thereof. The
                    Client further agrees that DigiGoFund will attempt to rectify such errors in good faith, and that such action will be
                    deemed to fulfill DigiGoFund and its agents’ obligations to the Client. The information and opinions contained in
                    the website are provided by DigiGoFund for the Client’s personal use and informational purposes only and are
                    subject to change without notice. Nothing in the Service constitutes, and nor should it be construed as,
                    investment, legal, tax or other professional advice and it should not be relied on in making an investment or any
                    other decision.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Use of Data</h4>
                <p class="left_text">Except as expressly permitted hereunder, the Client may not duplicate or redistribute any Data obtained from DigiGoFund
                    into hard copy, machine readable formats, or any other form without written authorization from DigiGoFund. The Client
                    will not publish, resell or disclose any Data. The Client also agrees not to download, nor knowingly permit any third party,
                    to download Data onto computers, discs, diskettes, hard drives, or any other media other than into temporary storage for
                    printing purposes, except as specifically authorized in the Download Agreement. In the event of a suspected breach or
                    violation of any of the foregoing conditions, or in the event the Client becomes aware of a threat to any DigiGoFund
                    copyright, the Client shall cooperate with DigiGoFund to protect DigiGoFund copyrights by assisting in identifying to whom
                    copies of such Data have been supplied.</p>
                <p class="left_text">The Client agrees to install proper safeguards to protect the data from malicious use.</p>
                <p class="left_text">The Client may or will have access to or learn certain information belonging to disclosing parties that are proprietary and
                    confidential (“Confidential Information”).</p>
                <p class="left_text">Confidential Information shall mean any secret or proprietary information relating directly to disclosing party’s business
                    and that of disclosing party’s affiliated companies and subsidiaries, including, but not limited to fund’s performance,
                    strategies and other business affairs of disclosing Party and its affiliated companies and subsidiaries.</p>
                <p class="left_text">You agree to keep strictly confidential all Confidential Information and will not use, sell, market, publicize, make
                    announcement or disclose any Confidential Information to any third person, firm, corporation, or association for any
                    purpose. You further agree to not make any copies of the Confidential Information without obtaining disclosing party’s
                    prior consent and will not remove any copy or sample of Confidential Information in this site. Your obligations shall survive
                    the termination or natural expiry of your access to this site.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Additional Use of Service</h4>
                <p class="left_text">The Client undertakes not to copy and not to modify the Service in whole or in part, nor commercially to exploit the same,
                    and that it will not disclose any Data received by it through its use of the Service to any third party outside the Client’s
                    organization. Usernames and passwords are personal to the individual User, and multiple Users within a single Client
                    Organization will each require an individual username and password. The Client undertakes not to reveal the Client’s
                    username or password to any other person (either body corporate or natural) and acknowledges that any breach of
                    security resulting in the use of its username and/or password by any third party constitutes material breach of the terms
                    of the Agreement. The Client further acknowledges that the Client will be liable, and DigiGoFund will be entitled, to
                    proportionate compensation from the Client, therefore: such compensation in all cases will exceed the subscription fee
                    that would, ceteris paribus, apply to the use of the Service by such third party or third parties.</p>
                <p class="left_text">The Client hereby agrees that DigiGoFund may adjust the Data in a manner that will allow DigiGoFund to uniquely identify
                    Data provided to the subscriber. The Client accepts that this is a legitimate security precaution on the part of DigiGoFund,
                    and accepts further that in the event that any third party has access to Data that can be identified as having the Client’s
                    unique adjustments, a prima facie breach of security and of these Terms and Conditions and the Agreement on the part of
                    the Client may be assumed by DigiGoFund. In the event that the Client suspects that its username or password has
                    become known to any third party, it is the responsibility of the Client to, and the Client undertakes that it will, promptly
                    inform DigiGoFund, change its password, and take all reasonable steps to preserve the secrecy of its new password. Except
                    as expressly permitted hereunder, the Client may not, and hereby agrees that it will not, disseminate the data to other
                    individuals or companies in any manner and will abide by security conditions put in place to ensure the membership is
                    used by only a single user.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Ownership of Service</h4>
                <p class="left_text">The User acknowledges that the data, copyrights, title and other intellectual proprietary rights – including, but not limited
                    to, the search methodologies, search algorithms, data fields, layout of the search results and online demo methodology –
                    shall remain the property of DigiGoFund, a division of DigiGo Inc.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Disagreements</h4>
                <p class="left_text">DigiGoFund makes efforts to ensure information in our database is up to date. However, due to the nature of the industry
                    and the breadth of the database, errors may occur. Refunds will be issued at the sole discretion of DigiGoFund. Because
                    the primary products, Crypto Fund List, Venture Funding Finder, and Crypto Fund Performance Database are digital
                    products, refunds will generally not be issued. Please download the sample list and email us with questions prior to any
                    order. Certain membership products may have automatic renewals and it is the Client’s responsibility to cancel any
                    membership prior to the renewal date to avoid future charges. Refunds will generally not be issued should Client fail to do
                    cancel prior to a billing date.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Limitations of Liability</h4>
                <p class="left_text">While DigiGoFund uses reasonable efforts to prepare and provide the Service to the Client, neither DigiGoFund nor its
                    agent shall be liable for any failure or inability to provide the Service due to any event, condition or circumstances beyond
                    DigiGoFund reasonable control. In providing the Data, DigiGoFund. relies upon sources that it believes to be reasonably
                    accurate, but Client agrees that DigiGoFund cannot and will not verify the accuracy, completeness or timeliness of the
                    Data or any work or product or projections based upon such Data. The User acknowledges that the Data is derived from a
                    variety of public sources and private sources for which the reliability may not be accurately ascertained. The Client
                    acknowledges that any information derived from the Service is intended only for general research purposes and NOT
                    INVESTMENT DECISIONS.</p>
                <p class="left_text">DigiGoFund provides to the Client the Service and Data hereunder on an “as is” basis and without warranty of any kind.
                    The Client hereby waives all other warranties either expressed or implied, including but not limited to any implied
                    warranty of merchantability, satisfactory quality, fitness for a particular purpose, security or accuracy, compatibility, noninfringement or otherwise, including time of performance. DigiGoFund does not warrant that the provision of the Service
                    or Data will be uninterrupted or error or virus free, nor do they make any warranties (express or implied) as to any results
                    use of the same. The Client expressly agrees that it uses the Service and Data at its own sole risk. Accordingly, neither
                    DigiGoFund nor its agent nor the Suppliers will in any way be liable to the Client or any other entity for any inaccuracies,
                    errors, omissions, delays, damages, claims, liabilities or losses, regardless of cause, in or arising from the use of the Service
                    or Data, or for any damage or delays to the Client’s hardware, software or data caused by or incidental to the use of the
                    Service.</p>
                <p class="left_text">Neither DigiGoFund nor its agents shall be liable for any loss or damage resulting directly or indirectly from mistakes,
                    omissions, interruptions, delays, errors, any act, event, or defect, whether human or mechanical, occurring in the course of
                    furnishing the Service or Data including, but not limited to, computer virus, online failure, failure of performance by third
                    parties, fires, explosions, floods, labor disputes or mechanical breakdown. Notwithstanding the foregoing, if DigiGoFund.
                    and/or its agent is deemed liable to the Client for any reason, whether arising in contract, tort, strict liability or otherwise,
                    DigiGoFund total liability including that of its agent hereunder shall be limited to the lesser of one thousand dollars (USD)
                    or an amount no greater the total subscription costs and fees previously paid by the client to DigiGoFund. DigiGoFund shall
                    not be liable for any special, consequential, exemplary or punitive damages, including, but not limited to, lost profits,
                    whether or not it or they are aware of the possibility thereof. The Client further agrees that no action, regardless of form,
                    arising from or pertaining to the Service or Data may be brought by the Client more than one (1) year after the event
                    giving rise to such action has occurred.</p>
                <p class="left_text">It is the Client’s responsibility to review the marketing information and contact DigiGoFund if unclear on the information
                    that will be provided. Any refunds issued will be limited to the price paid for one list per client. If the Client purchases
                    multiple lists, either in a single or multiple transactions, any refund issued by DigiGoFund will be limited to the price of the
                    least expensive list purchased by the Client. </p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Severability</h4>
                <p class="left_text">If any provision of this Agreement or the DigiGoFund’ Privacy Policy shall be held invalid or unenforceable to any
                    extent, the remainder of this Agreement and the Privacy Policy shall not be affected and shall be enforced to the
                    extent permitted by Law.</p>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
 <!-- Modal -->
 <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title center_text" id="exampleModalLongTitle" style="color: rgb(22, 4, 63);">Privacy Policy</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="left_text" style="color: black;">At DigiGoFund we are committed to protecting and respecting your privacy. This policy explains what information we
            collect, how we use it, and under which conditions we may disclose it to third parties. You should also review our Terms
            and Conditions.</p>
          <p class="left_text" style="color: black;">We may change this policy from time to time, so please check this page occasionally to ensure you’re happy with the
            changes. By using our website and/or purchasing our services, you are agreeing to be bound by this policy.</p>
        </div>
        <div class="modal-body">
            <h5 style="color: rgb(20, 2, 61)">Personal Data</h5>
          <p class="left_text" style="color: black;">DigiGoFund collects data from you, through our interactions with you and through our products. You provide some of this
            data directly, and we get some of it by collecting data about your interactions, use and experiences with our products. The
            data we collect depends on the context of your interactions with DigiGoFund and the choices you make, including your
            privacy settings and the products and features you use. We also collect data from third parties including Google Analytics,
            LeadPages.net, and our payment software and processor.</p>
          <p class="left_text" style="color: black;">You have choices when it comes to the technology you use and the data you share. When we ask you to provide personal
            data, you can decline. Many of our products require some personal data to provide you with a service. If you choose not to
            provide data necessary to provide you with a product or feature, you may not be able to complete checkout/membership and
            utilize our products. Likewise, where we need to collect personal data by law or to enter into or carry out a contract with you,
            and you do not provide the data, we will not be able to enter into the contract; or if this relates to an existing product you’re
            using, we may have to suspend or cancel it. Where providing the data is optional, and you choose not to share personal data,
            features like personalization that use such data will not work for you.</p>
          <p class="left_text" style="color: black;">When you make a investment, we will store necessary information including to complete the investment, provide product
            updates and offers via email, and if necessary, to provide relevant information to our payment processor regarding fraud,
            chargebacks, and disputes.</p>
        </div>
        <div class="modal-body">
            <h5 style="color: rgb(20, 2, 61)">How We Use Personal Data</h5>
          <p class="left_text" style="color: rgb(32, 1, 82);">DigiGoFund uses the data we collect to provide you the best possible experience on our website and with our products. In
            particular, we use data to:</p>
          <p class="left_text" style="color: black; padding-left: 10px;">1.  Provide our products, which includes updating, securing, and troubleshooting, as well as providing support. It also
            includes sharing data, when it is required to provide the service or carry out the transactions you request.</p>
          <p class="left_text" style="color: black; padding-left: 10px;">2. Improve and develop our products.</p>
          <p class="left_text" style="color: black; padding-left: 10px;">3. Personalize our products and make recommendations and
            Advertise and market to you, which includes sending promotional communications, targeting advertising, and presenting
            you relevant offers.</p>
          <p class="left_text" style="color: black;">We also use the data to operate our business, which includes analyzing our performance, meeting our legal obligations,
            developing our workforce, and doing research.</p>
          <p class="left_text" style="color: black;">In carrying out these purposes, we combine data we collect from different contexts or obtain from third parties to give you
            a more seamless, consistent, and personalized experience, to make informed business decisions, and for other legitimate
            purposes.</p>
        </div>
        <div class="modal-body">
            <h5 style="color: rgb(20, 2, 61)">Cookies & Similar Technologies</h5>
          <p class="left_text" style="color: black;">Cookies are small text files placed on your device to store data that can be recalled by a web server in the domain that
            placed the cookie. We use cookies and similar technologies for storing and honoring your preferences and settings,
            enabling you to sign-in, providing interest-based advertising, combating fraud, analyzing how our products perform, and
            fulfilling other legitimate purposes.</p>
          <p class="left_text" style="color: black;">We also use “web beacons” to help deliver cookies and gather usage and performance data. Our websites may include web
            beacons, cookies, or similar technologies from third-party service providers.</p>
          <p class="left_text" style="color: black;">You have a variety of tools to control the data collected by cookies, web beacons, and similar technologies. For example,
            you can use controls in your Internet browser to limit how the websites you visit are able to use cookies and to withdraw
            your consent by clearing or blocking cookies.</p>
        </div>
        <div class="modal-body">
            <h5 style="color: rgb(20, 2, 61)">Removal of Stored Data</h5>
          <p class="left_text" style="color: black;">If at any time you wish for us to remove or delete personal data we store on you, please email us at info@digigo.org.
            Though we attempt to use only third-party services that are privacy and GDPR compliant, we may not always be able to
            directly remove data from their servers.</p>
          <p class="left_text" style="color: black;">If you have any questions about our privacy policy, please contact us at info@digigo.org</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<%- include("./../layouts/footer");-%>